.quizMain {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border: 1px solid #2f80a8;
  border-radius: 5px;
  cursor: pointer;
  background: #cad6fd;
}

.quizTitle {
  width: 70%;
  font-size: 20px;
  font-weight: 500;
}

.quizLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.attemptQuizText {
  background: rgb(23, 125, 0);
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 4px;
}
.copyLinkQuizText {
  background: rgb(125 65 141);
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 4px;
}
.deleteQuizText {
  background: red;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 4px;
}
