.quizMain {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border: 1px solid #2f80a8;
  border-radius: 5px;
  cursor: pointer;
}

.quizTitle {
  width: 70%;
}

.quizLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.attemptQuizText {
  color: rgb(23, 125, 0);
}
.copyLinkQuizText {
  color: rgb(144, 0, 183);
}
.deleteQuizText {
  color: red;
}
