.viewQuizQuestionDiv {
  width: 95%;
  margin-top: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  padding: 10px 15px;
}
.viewQuizTitle {
  margin: auto !important;
  font-size: 22px !important;
}

.viewQuizTextField {
  margin-left: 10px !important;
}

.viewQuizText {
  color: #8b8b8b;
  margin-top: 15px !important;
}
