.loginMain {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginHome {
  display: flex;
}
.quiz {
  width: 100%;
  height: 100vh;
  border-right: 1px solid #c1c1c1;
  padding: 10px 15px;
  background: #e9e9e9;
}

.allQuizDiv {
  border: 1px solid #c1c1c1;
  height: 40px;
  margin-top: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background: #fff;
}

.attemptQuizText {
  color: rgb(23, 125, 0);
  cursor: pointer;
}
